<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="">Home</a>
            <a mat-list-item routerLink="inventory">Inventory</a>
        </mat-nav-list>
        @if (auth.initialized$ | async;) {
            @if (auth.user$ | async; as user) {
                <button (click)="logout()" matButton="outlined">Logout</button>
            } @else {
                <a routerLink="/login" matButton>Login</a>
                <a routerLink="/signup" matButton>Sign Up</a>
            }
        }
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            @if (isHandset$ | async) {
                <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            }
            <span>household-inventory</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
