// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "@vicky-ui/tokens/tokens.scss" as tokens;
@use "theme-colors.scss" as theme;

$my-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: theme.$primary-palette,
            tertiary: theme.$tertiary-palette,
        ),
        typography: (
            plain-family: "'Roboto', sans-serif",
        ),
        density: (
            scale: 0,
        ),
    )
);

html {
    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: theme.$primary-palette,
                tertiary: theme.$tertiary-palette,
            ),
            typography: (
                plain-family: "'Roboto', sans-serif",
            ),
            density: (
                scale: 0,
            ),
        )
    );

    @media (prefers-contrast: more) {
        @include theme.high-contrast-overrides(light);
    }
}

@include mat.all-component-themes($my-theme);
